@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&display=swap');

* {
    box-sizing: border-box;
  }
  
body{
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif; 
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center;  /* Vertically */
    height: 100vh;
    width: 1440px;
}

main{
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    width: 60%;    
    box-shadow: -2px 4px 18px 0px rgba(46,43,233,0.25); 
    border-radius: 30px;
}

main>section:first-of-type{
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%)
     );
     color: hsl(0, 0%, 100%);
     text-align: center;
     border-radius: 30px;
}

p{
    font-size: 18px;
}

main>section{
    flex: 1;
    padding: 20px;
}

.top-result h4{
    opacity: 0.7;
    font-size: 22px;
    font-weight: 400;
}

.scoreCircle{
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)
     );
     width: 200px;
     height: 200px;
     border-radius: 50%;
     margin: auto;
     padding-top: 55px;
     box-sizing: border-box;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.scoreCircle>h1{
    font-size: 70px;
    margin: 0;
    line-height: 65px;
}

.scoreCircle>p{
    margin: 0;
    opacity: 0.35;
}

.remark h3{
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.remark{
    width: 250px;
    margin: auto;
    margin-top: 50px;
}

.remark p{
    opacity: 0.7;
}

/* main > section:last-of-type{
    display: flex;
} */

main > section:last-of-type > h3{
    font-size: 22px;
    font-weight: 500;
}

.summary-box{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.summary-box > div {
    display: flex;
    gap: 10px;
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.reaction:hover{
    background-color: hsl(0, 0%, 100%);
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.memory:hover{
    background-color: hsl(0, 0%, 100%);
}

.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.verbal:hover{
    background-color: hsl(0, 0%, 100%);
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);  
}

.visual:hover{
    background-color: hsl(0, 0%, 100%);
}


.summary-box>p{
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.summary-box>p>span{
    font-weight: 400;
    opacity: 0.5;
}

button{
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 520px;
    margin-top: 30px;
}
button:hover{
    background-color: hsla(256, 72%, 46%, 1);
}